<h1 class="header">Releases</h1>

<table class="resources">
<thead>
<td>Name</td>
<td>Created On</td>
<td>Modified On</td>
<td colspan="2" align="center">
<a class="create" href="/releases/new" title="Enter a new release"></a>
</td>
</thead>
<tbody>
<% if (releases.length == 0) { %>
   <tr>
   <td colspan="5">
   No releases have been entered yet. <br />
   </td>
   </tr>
<% } %>
<% releases.each(function(release) { %>
   <tr>
   <td>
   <%= release.name %>
   </td>
   <td>
   <%= release.createdOn.format('mm/dd/yyyy hh:MM TT') %>
   </td>
   <td>
   <%= release.modifiedOn.format('mm/dd/yyyy hh:MM TT') %>
   </td>
   <td>
   <a class="edit" href="/releases/<%= release.id %>/edit" title="Edit release"></a>
   </td>
   <td>
   <a class="deleteRelease" href="#" id="<%= release.id %>" title="Remove release"></a>
   </td>
   </tr>
<% }) %>
</tbody>
</table>

<a href="/">Back</a>
