<h1 class="header">Edit</h1>

<form method="POST" action="/stories/<%= model.story.id %>">
<input type="hidden" name="story[id]" value="<%= model.story.id %>" />
<input type="hidden" name="_method" value="put" />
<table class="form">
   <tr>
      <td>Name</td>
   </tr>
   <tr>
      <td>
         <input type="text" id="name" name="story[name]" value="<%= model.story.name %>" size="50" />
      </td>
   </tr>
   <tr>
      <td>Description</td>
   </tr>
   <tr>
      <td>
         <textarea id="description" name="story[description]"><%= model.story.description %></textarea>
      </td>
   </tr>
   <tr>
      <td>Release</td>
   </tr>
   <tr>
      <td>
         <select id="release" name="story[release]">
            <option>Select a release</option>
         <% model.releases.each(function(release) { %>
            <option <%= (model.story.release == release.id) ? "selected=\"selected\"" : "" %> 
               value="<%= release.id %>"><%= release.name %></option>
         <% }); %>
         </select>
      </td>
   </tr>
</table>
<input class="cancel" type="button" value="Cancel" />
<input type="submit" value="Update story" />
</form>
