<h1 class="header">Stories</h1>

<table class="resources">
<thead>
<td>Name</td>
<td>Description</td>
<td>Created On</td>
<td>Modified On</td>
<td colspan="2" align="center">
<a class="create" href="/stories/new" title="Enter a new story"></a>
</td>
</thead>
<tbody>
<% if (stories.length == 0) { %>
   <tr>
   <td colspan="5">
   No stories have been entered yet. <br />
   </td>
   </tr>
<% } %>
<% stories.each(function(story) { %>
   <tr>
   <td>
   <%= story.name %>
   </td>
   <td>
   <%= story.description %>
   </td>
   <td>
   <%= story.createdOn.format('mm/dd/yyyy hh:MM TT') %>
   </td>
   <td>
   <%= story.modifiedOn.format('mm/dd/yyyy hh:MM TT') %>
   </td>
   <td>
   <a class="edit" href="/stories/<%= story.id %>/edit" title="Edit story"></a>
   </td>
   <td>
   <a class="deleteStory" href="#" id="<%= story.id %>" title="Remove story"></a>
   </td>
   </tr>
<% }) %>
</tbody>
</table>
