<h1 class="header">Edit</h1>

<form method="POST" action="/people/<%= person.id %>">
<input type="hidden" name="person[id]" value="<%= person.id %>" />
<input type="hidden" name="_method" value="put" />
<table>
<tr>
<td>First Name</td>
</tr>
<tr>
<td><input type="text" name="person[firstName]" value="<%= person.firstName %>" /></td>
</tr>
<tr>
<td>Last Name</td>
</tr>
<tr>
<td><input type="text" name="person[lastName]" value="<%= person.lastName %>" /></td>
</tr>
<tr>
<td>Middle Name</td>
</tr>
<tr>
<td><input type="text" name="person[middleName]" value="<%= person.middleName %>" /></td>
</tr>
</table>
<input type="submit" value="Update person" />
</form>
